h3{
	font-weight:bold;
}
.team-input{
  margin: 5px 0 0 40vw;
  padding: 5pt 5pt 15pt 5pt;
  border: solid black;
  width: 350px;
  box-shadow:10px 10px lightgray;
  /*opacity:0.75;*/
  background-color:red;
 /* font-size: 25pt;*/
  font-color:black;
}

#result{
    margin: 5px 0 0 40vw;
  padding: 5pt 5pt 15pt 5pt;
/*  border: solid black;*/
  width: 375px;
  text-align:center;
  font-size: 42px;
  
}

.button-box{
 margin: 10px 0 0 40vw; 
}

#calculate,#clear
{
  width: 100px;
  font-weight:bold;
  font-size:20px;
 /* margin: 5px 0 0 12vw; */
}

#calculate{
   
}

#clear{

}