body{
	background-color:black !important;
}

#logo{
		color:green;
	font-size:35pt;
	margin-left:35vw;
}

#info-block{
margin: 10pt 0 0 40vw;
color:white;
font-size: 30pt;
}

#timer,#type,#scrambled{
		font-size:14;
		color:white;
		margin-left:40vw;
}

#play-block{
	border-bottom-style:solid;
	border-bottom-color:red;
	border-bottom-width: 3pt;
	margin: 50pt 0 0 30vw;
	width:400px;
	color:white;
	font:16pt;
}

.text-box{
	background-color:gray;
	color:white;
	font-size:25pt;
	width:400px;
}

#btn-container{
	margin: 5pt 0 0 30vw; 
	color: white;
	font-size:20pt;
}
.scramble-btn{
	background-color:blue;
}

.restart-btn{
	background-color:red;
}

#test{
	color:white;
	font-size:25pt;
}