#main-img{
	height:250px;
	width: 250px;
}

.title{
	text-align-last: center;
}

.secondary-title{
	text-align-last: center;
}

#biography-body{
	margin-left:10vw;
	background-color:lightgray;
}

#main-body{
	border-style:solid;
	border-color:black;
	background-color:white;
}

#profile{
	border-style:solid;
	border-color:black;
	background-color:white;
}

#main-img{
	margin-top:10px;
}

table {
  font-size: 35pt;
  color: #000;
  border:3px solid #666;
  width: 580px;
  height: 580px;
  margin: 20px;
}

td {
  background:#fff;
  height:70px;
  width:70px;
  text-align:center;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background:#6c0;
}

#shuffle{
	margin-left:20vw;
	font-weight:bold;
	background-color:lightblue;	
}

#reset{
	font-weight:bold;
	background-color:red;

}